@import "./styles/config";

* {
    color: $txtClr;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    box-sizing: border-box;
    background-color: $backgroundClr;
}

.App{
    direction: rtl;
    width: 100%;
    overflow: auto;
}
strong{
    font-weight: 60%;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

button{
    background-color: $backgroundClr;
}